<form [formGroup]="cmdForm" (ngSubmit)="onSubmit()">
  <div class="grid p-fluid p-3 justify-content-center gap-2">
    <div class="p-field p-col-12 p-md-6 ">
      <label for="terminalId">ID Терминала</label>
      <p-inputNumber
        inputId="terminalId"
        formControlName="terminalID"
        [required]="true">
      </p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="cmd">Команда</label>
      <p-inputNumber
        inputId="cmd"
        formControlName="cmd"
        [required]="true">
      </p-inputNumber>
    </div>
  </div>
  <div class="grid p-fluid p-3 justify-content-center gap-2">
    <div class="p-field p-col-12 p-md-4">
      <label for="param1">Параметр 1</label>
      <p-inputNumber
        inputId="param1"
        formControlName="param1">
      </p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label for="param2">Параметр 2</label>
      <p-inputNumber
        inputId="param2"
        formControlName="param2">
      </p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label for="param3">Параметр 3</label>
      <p-inputNumber
        inputId="param3"
        formControlName="param3">
      </p-inputNumber>
    </div>
  </div>
  <div class="grid p-3 justify-content-center">
    <button pButton pRipple type="button" label="Отправить" class="p-button-success"></button>
  </div>
</form>
